*{
    padding: 0px;
    margin: 0px;
}
.NavbarItems{
    width: 100%;
    /* position:fixed; */
    
    background-color : rgb(63,138,226);
    /* background-color : rgb(254,109,81); */
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.Navbar-logo{
    color:white;
    justify-self: start;
    margin-left: 20px;
    font-size: 40px;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:20px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    transition: all 0.5s ease-in-out;
    background-color:rgb(254,109,81);
    background-color:rgb(63,138,226);

}
.nav-links:hover{
    background-color: white;
    /* color:rgb(254,109,81); */
    color:rgb(63,138,226);

    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.bar{
    color:white;
}
.menu-icon{
    display: none;
}
.footer{
    width:100%;
    height: fit-content;
    /* background-color: rgb(254,109,81); */
    background-color: rgb(63,138,226);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:650px) {
    .NavbarItems{
        /* position: fixed; */
        width: 100%;
        position: relative;
        height:50px;
    }
    .Navbar-logo{
        margin-left: 20px;
        font-size: 20px;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        position: absolute;
        top:40px;
        left: -110%;
        opacity: 1;
        /* transition: all 0.5 ease-in-out; */
        font-size: 16px;
    }
    .nav-menu.active{
        /* background:rgb(254,109,81); */
        background:rgb(63,138,226);
        left:0;
        opacity: 1;
        transition: all 0.5 ease-in-out;
        z-index: 1;
        margin: 0px;
        padding: 0px;
    }
    .nav-links{
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        display: table;
        transition: none;
        /* margin: 0px; */
    }
    .nav-links:hover{
        background-color: white;
        border-radius: 0px ;
        transition: none;
    }
    .Navbar-logo{
        position:absolute;
        top:0;
        left: 0;
        transform: translate(25%,70%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-140%,80%);
        font-size: 1.1rem;
        cursor: pointer;
    }
}