*{
    padding: 0px;
    margin: 0px;
}
.NavbarItems{
    width: 100%;
    /* position:fixed; */
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.Navbar-logo{
    color:white;
    justify-self: start;
    margin-left: 20px;
    font-size: 40px;
}
.colorcont{
    position:absolute;
    width:165px;
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color:white;
    border-radius: 25px;
    /* left:10px; */
    /* top:25px; */
}
.colorcyrcle{
    width:25px;
    height:25px;
    border-radius: 50%; 
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:20px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    transition: all 0.5s ease-in-out;
}
.nav-links:hover{
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.bar{
    color:white;
}
.menu-icon{
    display: none;
}
.footer{
    width:100%;
    height: fit-content;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:650px) {
    .NavbarItems{
        /* position: fixed; */
        width: 100%;
        position: relative;
        height:50px;
    }
    .Navbar-logo{
        margin-left: 20px;
        font-size: 20px;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        position: absolute;
        top:40px;
        left: -110%;
        opacity: 1;
        /* transition: all 0.5 ease-in-out; */
        font-size: 16px;
    }
    .nav-menu.active{
        left:0;
        opacity: 1;
        transition: all 0.5 ease-in-out;
        z-index: 1;
        margin: 0px;
        padding: 0px;
    }
    .nav-links{
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        display: table;
        transition: none;
        /* margin: 0px; */
    }
    .nav-links:hover{
        background-color: white;
        border-radius: 0px ;
        transition: none;
    }
    .Navbar-logo{
        position:absolute;
        top:0;
        left: 0;
        transform: translate(25%,70%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-140%,80%);
        font-size: 1.1rem;
        cursor: pointer;
    }
    .colorcont{
        position:absolute;
        width:75px;
        height:15px;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        background-color:white;
        border-radius: 25px;
        /* left:10px; */
        /* top:25px; */ 
    }
    .colorcyrcle{
        width:13px;
        height:13px;
        border-radius: 50%; 
    }
}