*::-webkit-scrollbar {
    display: none;
  }
  
.container{
    width: 100%;
    height: fit-content;
    min-height: 83vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loginbox{
    width:400px;
    height: 400px;
    /* color: rgb(254,109,81); */
    color: rgb(63,138,226);
    /* color: rgb(67,10,191); */
    /* border:solid 1px rgb(254,109,81); */
    border:solid 1px rgb(63,138,226);
    background-color: rgba(255, 254, 253,80%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}
.LoginPerson{
    width:150px;
    margin: 10px;
}
.addInput{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    width: 240px;
    margin:10px;
}
.inputs{
    width: 200px;
    height: 25px;
    /* border: solid 1px rgb(254,109,81); */
    border: solid 1px rgb(63,138,226);
    border-radius: 15px;
    padding-left: 20px;
    /* color:rgb(254,109,81); */
    color:rgb(63,138,226);
}
.inputs:focus{
    outline: none;
}
.btn{
    height: 30px;
    width:100px;
    margin-right: 5px;
    color:white;
    /* background-color: rgb(254,109,81); */
    background-color: rgb(63,138,226);
    /* border: solid 1px rgb(254,109,81); */
    border: solid 1px rgb(63,138,226);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    /* color:rgb(254,109,81); */
    color:rgb(63,138,226);
    transition: all 0.5s ease-in-out;
}
.link{
    color:rgb(100, 91, 88);
    text-decoration: none;
    /* background-color: rgb(254,109,81); */
    /* padding: 5px; */
    /* border-radius: 10px; */
}
.link:hover{
    /* color: rgb(254,109,81); */
    color: rgb(63,138,226);
}
.tripsschedul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 430px; */
    width: 80%;
    /* background-color: rgba(255, 254, 253,80%); */
    background-color: rgba(255, 254, 253,95%);
    border-radius: 15px;
    padding: 10px;
    height: 450px;
    color: rgb(125, 98, 94); 
}
.overflow{
    height: 385px;
    overflow-y: scroll;
    width: 100%;
}
.overflow::-webkit-scrollbar {
    display: none;
  }
.tripcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.tripcontent:hover{
    color: white;
    /* background-color: rgb(254,109,81); */
    background-color: rgb(63,138,226);
}
.trip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tripitem{
    /* width:80px; */
    width: 100%;
    text-align: center;
}
.homeimge{
    /* background: url('../images/homebus.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; */
    width:100%;
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.busimg{
    width: 100%;
}
.homesecdiv{
    margin-top: 0px;
    /* background: url('../images/background3.svg'); */
    background: url('../images/homebuspattern.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why{
    color: white;
    /* background-color: rgb(254,109,81); */
    background-color: rgb(63,138,226);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 20px;
}
.icons{
    width:75px;
    height: 75px;
    /* color:rgb(254,109,81); */
    color:rgb(63,138,226);
}
.iconstext{
    font-size: 18px;
    /* color: rgb(254,109,81); */
    color: rgb(63,138,226);
    margin-top: 30px;
}
.iconscontainer{
    float: left;
    background-color: rgba(255, 254, 253,80%);
    border-radius: 15px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.footercontainer{
    float: left;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.footertext{
    font-size: 18px;
    /* color: rgb(254,109,81); */
    color: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
}
.about{
    width:30%;
    height:fit-content;
    padding:30px;
    border-radius:20px;
    /* color:rgb(254,109,81); */
    color:rgb(63,138,226);
    background-color:rgba(255,255,255,80%);
    text-align:center;
}
.contactbox{
    width:400px;
    height: 400px;
    /* color: rgb(254,109,81); */
    color: rgb(63,138,226);
    /* color: rgb(67,10,191); */
    /* border:solid 1px rgb(254,109,81); */
    border:solid 1px rgb(63,138,226);
    background-color: rgba(255, 254, 253,80%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}
.facebook{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;

}
.facebook2{
    display: none;
}
.hov{
    display: flex;
    justify-content: space-around;
}
.hov:hover{
    background-color: rgb(63,138,226);
    color:rgb(255, 255, 255);
}
@media only screen and (max-width: 650px) {
   .iconscontainer{
    height: 85px;
    width: 85px;
   }
   .footercontainer{
    height: 85px;
    width: 85px;
   }
   .footertext{
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
   }
   .iconstext{
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
   }
   .icons{
    width:40px;
    height: 40px;
    }
    .loginbox{
        width: 200px;
        height: 200px;
        font-size: 10px;
    }
    .LoginPerson{
        width:75px;
        margin: 10px;
    }
    .addInput{
        height: 20px;
        width: 140px;
        margin:10px;
        font-size: 10px;
    }
    .inputs{
        width: 125px;
        height: 15px;
        font-size: 10px;
        padding-left: 10px;
    }
    .btn{
        height: 15px;
        width:60px;
        margin-right: 5px;
        font-size: 10px;
        transition: none;
    }
    .btn:hover{
        transition: none;
    }
    
    .tripsschedul{
        display: flex;
        width: 200px;
        padding: 5px;
        /* height: 170px; */
        height: fit-content;
        max-height: 300px;
        font-size: 9px;

    }
    .why{
        height: 60px;
        font-size: 18px;
    }
    .about{
        width:200px;
        height:fit-content;
        padding:30px;
        font-size: 12px;
    }
    .contactbox{
        width: 200px;
        height: 320px;
        font-size: 10px;
    }
    .facebook{
        display: none;
    }
    .facebook2{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100px;
    
    }
}