.App{
  background: url('./images/background2.svg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.rightdesign{
  display: flex;
  width: 345px;
  justify-self: flex-end;
}