.App{
  /* background: url('./images/background2.svg'); */
  /* background: url('./images/backgroundblue.svg'); */
  background: url('./images/newintierbus.svg');
  /* background: url(''); */
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* min-height: 83vh; */
  width: 100%;
}